/* this is a terminal style website */

body {
    color: #fff;
    background-color: #000;
}

#container {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    font-family: 'Source Code Pro', monospace;
    font-size: 16px;
    line-height: 1.5;
}

#text {
    white-space: pre-wrap;
}

#cursor {
    position: relative;
    top: 4px;
    left: -5px;
    display: inline-block;
    width: 10px;
    height: 20px;
    background-color: #fff;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

