:root {
    --text: #161616;
    --background: #eaeaea;
    --primary: #91309c;
    --secondary: #f3d8e8;
    --accent: #c33c8d;
    --text-dark: #eaeaea;
    --background-dark: #161616;
    --primary-dark: #91309c;
    --secondary-dark: #270c1c;
    --accent-dark: #db8abb;
}

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    color: var(--text);
    background: var(--background);
    font-family: 'Inter',"Roboto", sans-serif;
    font-size: 16px;
    transition: all 0.5s ease-in-out;
}

body.dark {
    color: var(--text-dark);
    background: var(--background-dark);
}

a {
    text-decoration: none;
    color: var(--text-dark);
    transition: all 0.5s ease-in-out;
}

body.dark a {
    color: var(--text-dark);
}

.menu {
    width: 100%;
    margin: 0;
    padding: 32px;
    list-style: none;
    display: flex;
    justify-content: right;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.5));
}

.menu li {
    display: inline-block;
    margin: 0 16px;
    font-size: 1.2rem;
    /* background is a linear gradient from transparent on the left to grey on the right */
}

#home {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(270deg, var(--secondary), var(--primary));
}

#home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg, var(--secondary-dark), var(--primary-dark));
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

body.dark #home::before {
    opacity: 1;
}

.title-container {
    position: absolute;
    top: 50%;
    right: 100px;
    transform: translateY(-50%);
    text-align: right;
    align-items: right;
    justify-content: right;
}

.title-container .title-text {
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 1;
    margin-bottom: 16px;
    transition: all 0.5s ease-in-out;
}

.title-container .title-sub {
    font-size: 1.4rem;
    font-weight: 400;
}

.title-border {
    right: 0;
    width: 0;
    height: 2px;
    background: var(--accent);
    transition: all 0.5s ease-in-out;
}

.title-container:hover .title-border {
    width: 100%;
}

#projects {
    height: 100vh;
    width: 100%;
    background: linear-gradient(90deg, var(--primary), var(--secondary));
}

#contact {
    height: 100vh;
    width: 100%;
    background: linear-gradient(90deg, var(--secondary), var(--primary));
}