:root {
    --max-width: 1100px;
    --border-radius: 12px;
    --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
        'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
        'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(to bottom right,
            rgba(1, 65, 255, 0),
            rgba(1, 65, 255, 0),
            rgba(1, 65, 255, 0.3));

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(#ffffff80,
            #ffffff40,
            #ffffff30,
            #ffffff20,
            #ffffff10,
            #ffffff10,
            #ffffff80);

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;

    --text: #fcfefb;
    --background: #000000;
    --primary: #e20e3c;
    --secondary: #38104b;
    --accent: #cc28b1;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body {
    color: var(--text);
    background: var(--background);

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

.styled-link {
    margin: 1rem 0.5rem;
    padding: 0.2rem 0.5rem;
    border: 3px solid transparent;
    transition: all 0.2s ease-in-out;
}

.styled-link:hover {
    border-bottom-color: var(--accent);
}

#navbar {
    position: fixed;
    top: 0;
    right: -350px;
    width: 350px;
    height: 100vh;
    background: var(--background);
    display: flex;
    justify-content: right;
    align-items: right;
    padding: 1rem 1.5rem;
    padding-right: 1.5rem;
    transition: 0.5s;
    z-index: 2;
    font-size: 1.3rem;
    color: '#FFFFFF',
}

#navbar.navbar-open {
    right: 0% !important;
}

#navbar-toggle {
    display: block;
    position: fixed;
    top: 1rem;
    right: 1rem;
    transition: 0.2s;
    transition: 0.5s;
    margin: 1.25rem 2.5rem;
    padding: 0.25rem 0.5rem;
    opacity: 1;
    border: 3px solid transparent;
    transition: 0.2s;
}

#navbar-toggle:hover {
    cursor: pointer;
    border-bottom-color: var(--accent);
}

#navbar.navbar-open ~ #navbar-toggle {
    opacity: 0;
}

.navbar-menu {
    border: 3px solid transparent;
    margin: 1.5rem 0.5rem;
    margin-top: 0rem;
    border-bottom-color: var(--text);
    padding: 1.5rem 1rem;
    transition: 0.2s;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar-menu-arrow {
    margin-right: 0;
    transition: 0.2s;
    font-family: 'Courier New', Courier, monospace;
}

.navbar-menu-arrow::before {
    content: '>';
}

.navbar-menu-arrow {
    transform: rotate(90deg);
}

.navbar-menu:hover {
    border-bottom-color: var(--accent);
    cursor: pointer;
}

.navbar-menu:hover .navbar-menu-arrow {
    transform: rotate(0deg);
}

.navbar-link {
    border: 3px solid transparent;
    margin: 1.75rem 0.5rem;
    border-left-color: var(--accent);
    padding: 1.5rem 1rem;
    background: #ffffff1b;
    border-radius: 0 10px 10px 0;
    transition: 0.2s;
}

.navbar-link:hover {
    margin-left: 1.5rem;
    background: #ffffff33;
}

.navlink-current {
    border-left-color: var(--text);
}

.rain-container-box {
    overflow: hidden;
}

.error-404-link {
    color: var(--accent);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.error-404-link:hover {
    color: var(--primary);
    text-decoration: underline;
}